Package: cn.williamxie.iosreprojects
Name: iosreprojects
Version: 1.0.0
Architecture: iphoneos-arm
Description: an example of using APT Every day people use Cydia, but with the instructions embodied in this package, people can publish for it as well.
Homepage: http://cydia.williamxie.cn
Depiction: http://cydia.williamxie.cn
Maintainer: williamxie <hyw540667209@gmail.com>
Author: williamxie <hyw540667209@gmail.com>
Section: Themes (SpringBoard)
